# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/versions/

# Environment / Secrets
.env
.env.*
!.env.example

# Next.js
.next/
out/

# Backend / Build
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
.npm-cache/
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/cache/
.next

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp